# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Files that will always have UNIX line-endings LF rather than Windows-style CRLF.
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.xml text eol=lf

# Denote all files that are truly binary and should not be modified.
# (binary is a macro for -text -diff)
*.png binary
