{% extends "base.html" %}

<style>
	{%  block style %}{{ super() }}

	body#reference section div {
		display: grid;
		grid-template-columns: 15em 10em 1fr 1fr;
		gap: 1em;
		align-items: center;
		border-bottom: 3px ridge skyblue;
		padding: 1em;
		margin-bottom: 1em;
		min-height: 10em;
	}
	body#reference section div:last-of-type {
		border: none;
	}

	img.svg-icon, img.reference {
		max-height: 10em;
		padding: 2px;
	}

	
	body#reference section a.url {
		text-align: left;
	}
{% endblock %}
</style>


{% block content %}
<h2>Reference Images</h2>
<p>A visual guide to check if the Super Tiny Icons match the shape and colour of organisation's official SVG logo.<br>
Where possible this links to the organisation's brand guidelines page.</p>

<section>
	{% for _, icon in icons | dictsort -%}
	<div>
		<strong>{{ icon.label }}</strong>
		<img alt="" class="svg-icon" src="images/svg/{{ icon.name }}.svg">
		{% if refs[ icon.name ] %}
			{% with ref = refs[ icon.name ] %}
		<img alt="" class="reference" src="images/reference/{{ ref.filename }}">
				{% if ref.url %}
		<a class="url" href="{{ ref.url }}">{{ ref.url }}</a>
				{% endif %}
			{% endwith %}
		{% endif %}
	</div>
	{% endfor %}
</section>

{% endblock %}