{% extends "base.html" %}

<style>
	{%  block style %}{{ super() }}

	reference-grid {
		display: grid;
		grid-template-columns: 25em 10em 1fr;
		gap: 1em;
		align-items: center;
		border-bottom: 3px ridge skyblue;
		padding: 1em;
		margin-bottom: 1em;
		min-height: 10em;
	}

	img.svg-icon, img.reference {
		height: 10em;
		padding: 2px;
	}
	
	.url {
		text-align: left;
		word-break: break-word;
	}

	.info {
		text-align: right;
	}
	.label {
		font-weight: bold;
	}
{% endblock %}
</style>


{% block content %}
<h2>Reference Images</h2>
<p>A visual guide to check if the Super Tiny Icons match the shape and colour of organisation's official logo.<br>
Where possible this links to the organisation's brand guidelines page.</p>

<section id="reference-grid">
	{% for _, icon in icons | dictsort -%}
	<div>
		<div class="info">
			<span class="label">{{ icon.label }}</span><br>
			{% if refs[ icon.name ] %}
				{% with ref = refs[ icon.name ] %}
					{% if ref.url %}
			<a class="url" href="{{ ref.url }}">{{ ref.url }}</a>
					{% endif %}
				{% endwith %}
			{% endif %}
		</div>
		<img alt="" class="svg-icon" src="images/svg/{{ icon.name }}.svg">
		{% if refs[ icon.name ] %}
			{% with ref = refs[ icon.name ] %}
		<img alt="" class="reference" src="images/reference/{{ ref.filename }}">
			{% endwith %}
		{% endif %}
	</div>
	{% endfor %}
</section>

{% endblock %}